@import 'vars';
@import 'global';

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    &-login {
        background-color: $green;
    }
    &-register {
        background-color: $red;
        margin-left: 7px;
    }
}

.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
    &__list {
        li{
            display: inline-block;
            a {
                color: #ffffff;
                font-size: 14px;
            }
            & + li {
                margin-left: 30px;
            }
        }
    }
}

// end header

// start search

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;
    &__inner {
        padding: 155px 0 100px;
        color: #fff;
        text-align: center;
        &-title {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 72px;
        }
        &-text {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 54px;
            line-height: 30px;
        }
        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            input {
                display: block;
                width: 100%;
                height: 56px;
                box-shadow: 0 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                background-color: #ffffff;
                border: none;
                font-size: 14px;
                font-weight: 500;
                padding-left: 25px;
                padding-right: 60px;
                &::placeholder{
                    color: #90a4ae;
                    font-weight: 500;
                }
            }
            button {
                position: absolute;
                border: none;
                background-color: transparent;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

// end search

// start products

.products {
    padding: 121px 0 112px;
    background-color: #f4f6f5;
}
.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button {
            margin-left: 5px;
        }
    }
    .mixitup-control-active {
        background-color: $red;
        outline: none;
        color: #fff;
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content {
        display: flex;
        padding: 29px 31px 17px;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #e7ecf2;;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        display: block;
        color: $bg;
        font-size: 18px;
        font-weight: 700;
    }
    &-category {
        display: block;
        color:$green;
        font-size: 14px;
        font-weight: 500;
    }
    &-price {
        color: $bg;
        font-size: 20px;
        font-weight: 700;
    }
    &-info {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 30px 21px;
    }
    &-author { 
        display: flex;
        align-items: center;
        max-width: 250px;
        .avatar {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span {
            font-size: 14px;
            font-weight: 500;  
        }
    }
}
.product__bottom-btn {
    text-align: center;
    button {
        margin: 45px 5px 0;
        box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        font-size: 16px;
        font-weight: 400;
        padding: 20px 30px;
        cursor: pointer;
    }
}

// end products

// start product slider

.product-slider {
    padding: 123px 0 121px 0;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            margin-left: 4px;
            margin-right: 4px;    
            display: inline-block;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                width: 16px;
                height: 16px;
                background-color: #e8e8e8;
                border: none;
                border-radius: 50%;
                font-size: 0;
                cursor: pointer;
                outline: none;
            }
        }
    }
}
// end product slider

// advantages

.advantages {
    background-color: $bg;
    padding: 124px 0 118px;
    &__title {
        color: #fff;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        min-width: 370px;
        text-align: center;
        padding: 0 15px;
        &:hover {
            .advantages__item-img {
                background-color: $green;
            }
            .advantages__item-title {
                color: $green;
            }
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        &-img {
            width: 114px;
            height: 114px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 30px;
            transition: all 0.3s;
            svg {
                width: 55px;
                height: 55px;
                transition: all 0.3s;
            }

        }
        &-title {
            color: #ffffff;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 25px;
            transition: all 0.3s;
        }
        &-text {
            color: #b0bec5;
            font-size: 15px;
            font-weight: 400;
        }
    }
}

// end advantages

//start author

.author {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box  {
        background-color: $green;
        width: 653px;
        min-height: 216px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        margin-right: 45px;
        max-width: 260px;
        text-align: center;
        span {
            font-weight: 700;
        }
    }
    &__link {
        color: #263238;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        padding: 14px 43px;
        background-color: #fff;
    }
}

// end author

//start tutorial

.tutorial {
    padding: 66px 0 121px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
        &-img {
            min-height: 270px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }
        &-title {
            color: #263238;
            font-size: 24px;
            font-weight: 700;
            padding: 39px 10px;
            text-align: center;
            background-color: #f8f8f8;
        }
    }
}

// end tutorial