@import 'vars';
@import 'global';
@import 'fonts';

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    &-login {
        background-color: $green;
    }
    &-register {
        background-color: $red;
        margin-left: 7px;
    }
}

.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
    &__list {
        li{
            display: inline-block;
            a {
                color: #ffffff;
                font-size: 14px;
            }
            & + li {
                margin-left: 30px;
            }
        }
    }
}

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;
    &__inner {
        padding: 155px 0 100px;
        color: #fff;
        text-align: center;
        &-title {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 72px;
        }
        &-text {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 54px;
            line-height: 30px;
        }
        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            input {
                display: block;
                width: 100%;
                height: 56px;
                box-shadow: 0 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                background-color: #ffffff;
                border: none;
                font-size: 14px;
                font-weight: 500;
                padding-left: 25px;
                padding-right: 60px;
                &::placeholder{
                    color: #90a4ae;
                    font-weight: 500;
                }
            }
            button {
                position: absolute;
                border: none;
                background-color: transparent;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}